a {
  display: inline-block;
  height: 100px;
  width: 100px;
  background: rgb(24, 24, 24);
  transition: all 0.5s;
  line-height: 50px;
  border-radius: 10px;
}
a:hover {
  background: rgb(31, 31, 31);
}

.centerimg {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 55%;
}

.center {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}





.centerimg2 {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 55%;
}

.center2 {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
